* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #080b18;
    color: white;
}


/* =========================
   NAVBAR
========================= */

header {
    width: 100%;
    background-color: #080b18;
    position: fixed;
    top: 0;
    z-index: 100;
}

nav {
    width: 90%;
    max-width: 1200px;
    margin: auto;

    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h2 {
    color: white;
    font-size: 24px;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.menu a:hover {
    color: #6c63ff;
}


/* =========================
   BERANDA
========================= */

.beranda {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 120px 10% 80px;

    position: relative;
    overflow: hidden;
}


/* cahaya biru */

.beranda::before {
    content: "";

    position: absolute;

    width: 350px;
    height: 350px;

    background: #1d4ed8;

    border-radius: 50%;

    filter: blur(150px);

    opacity: 0.4;

    top: 100px;
    left: -100px;
}


/* cahaya ungu */

.beranda::after {
    content: "";

    position: absolute;

    width: 350px;
    height: 350px;

    background: #7c3aed;

    border-radius: 50%;

    filter: blur(150px);

    opacity: 0.35;

    right: -100px;
    bottom: 50px;
}


.teks {
    width: 55%;

    position: relative;
    z-index: 2;
}

.sapaan {
    color: #8b8cff;

    font-size: 16px;

    letter-spacing: 3px;

    margin-bottom: 15px;
}

.teks h1 {
    font-size: 70px;

    line-height: 1;

    margin-bottom: 25px;
}

.teks h1 span {
    background: linear-gradient(
        90deg,
        #4f8cff,
        #a855f7
    );

    -webkit-background-clip: text;
    color: transparent;
}

.deskripsi {
    color: #b7b8c7;

    font-size: 17px;

    line-height: 1.7;

    max-width: 550px;

    margin-bottom: 30px;
}


.tombol {
    display: inline-block;

    background: linear-gradient(
        90deg,
        #2563eb,
        #7c3aed
    );

    color: white;

    text-decoration: none;

    padding: 14px 25px;

    border-radius: 8px;

    font-weight: bold;
}


/* =========================
   FOTO
========================= */

.foto {
    width: 40%;

    display: flex;

    justify-content: center;

    position: relative;

    z-index: 2;
}

.lingkaran {
    width: 350px;
    height: 350px;

    border-radius: 50%;

    padding: 7px;

    background: linear-gradient(
        135deg,
        #2563eb,
        #9333ea
    );

    box-shadow:
        0 0 40px rgba(59, 130, 246, 0.3);
}

.lingkaran img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 50%;

    border: 5px solid #080b18;
}


/* =========================
   INFORMASI
========================= */

.informasi {
    width: 90%;

    max-width: 1100px;

    margin: -30px auto 80px;

    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 20px;

    position: relative;

    z-index: 5;
}

.informasi div {
    background-color: #111526;

    padding: 25px;

    border-radius: 10px;

    border: 1px solid #222840;
}

.informasi h3 {
    color: #777cff;

    margin-bottom: 8px;

    font-size: 14px;
}

.informasi p {
    color: white;

    font-size: 16px;
}


/* =========================
   BAGIAN
========================= */

.bagian {
    padding: 100px 10%;

    background-color: #0b0f20;
}

.bagian.gelap {
    background-color: #080b18;
}

.bagian h2 {
    font-size: 40px;

    margin-bottom: 25px;

    background: linear-gradient(
        90deg,
        #4f8cff,
        #a855f7
    );

    -webkit-background-clip: text;

    color: transparent;
}

.bagian > p {
    max-width: 800px;

    color: #b7b8c7;

    line-height: 1.8;

    margin-bottom: 20px;
}


/* =========================
   KEMAMPUAN
========================= */

.kemampuan {
    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 20px;

    margin-top: 40px;
}

.kemampuan div {
    background-color: #111526;

    padding: 30px;

    border-radius: 12px;

    border: 1px solid #222840;
}

.kemampuan h3 {
    margin-bottom: 15px;

    color: white;
}

.kemampuan p {
    color: #a8aabd;

    line-height: 1.6;
}


/* =========================
   FOOTER
========================= */

footer {
    text-align: center;

    padding: 30px;

    background-color: #050711;

    color: #777;
}


/* =========================
   HP
========================= */

@media (max-width: 768px) {

    nav {
        height: auto;

        padding: 20px 0;

        flex-direction: column;

        gap: 15px;
    }

    .menu {
        gap: 15px;

        flex-wrap: wrap;

        justify-content: center;
    }

    .beranda {
        flex-direction: column;

        text-align: center;

        padding-top: 150px;
    }

    .teks {
        width: 100%;
    }

    .teks h1 {
        font-size: 50px;
    }

    .deskripsi {
        margin-left: auto;
        margin-right: auto;
    }

    .foto {
        width: 100%;

        margin-top: 50px;
    }

    .lingkaran {
        width: 250px;
        height: 250px;
    }

    .informasi {
        grid-template-columns: 1fr 1fr;
    }

    .kemampuan {
        grid-template-columns: 1fr;
    }

    .bagian h2 {
        font-size: 32px;
    }
}